html
{
	zoom: 80%;
	font-size: 14px;
}
body 
{
	-webkit-print-color-adjust: exact !important;
}



.nav-item>a
{
	color:#9d9d9d;
	font-size: 16px;
}
.dropdown-header
{
	color:#337AB7;
	font-weight: bold;
}



/*General formating*/
	.ui-bkgrd-color-grey
	{
		background: #e6e6e6;
		margin-bottom: 20px;
	}

	.ui-bkgrd-color-white
	{
		background:#ffffff;
	}
	input[type="radio"], input[type="checkbox"]
	{
		margin-right:10px;
	}
	label
	{
		font-weight: bold;
	}
	label.checkbox
	{
		margin-right:10px;	
	}
	#toggle-report-progress-bar
	{
		padding-bottom:50px;
	}
	
	.audit-headers
	{
		cursor: default; 
		fill:rgb(117, 117, 117);
		font-family: Roboto; 
		font-size: 26px;
		user-select: none; 
		-webkit-font-smoothing: antialiased; 		
	}
	.center-img
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.radio
	{
		font-weight: normal;
		padding-left: 20px;
	}

	.yellow_background
	{
		background-color: yellow;
	}

	.order-1
	{
		order:1;
	} 
	.order-2
	{
		order:2;
	}
	.order-3 
	{
		order:3;
	}

	.img-wrapper
	{
		padding-top: 2%;
	}

	.landscape-images
	{
		width:35em;
	}

	.tp-bttm-margin
	{
		padding-bottom:2%;
		padding-top:2%;
	}

	.row
	{
		margin-bottom:15px;
	}

	body
	{
		margin-bottom:400px;
	}



    .tab1 { padding-left: 4em; }
    .tab2 { padding-left: 8em; }
    .tab3 { padding-left: 12em; }
    .tab4 { padding-left: 16em; }
    .tab5 { padding-left: 20em; }
    .tab6 { padding-left: 24em; }
    .tab7 { padding-left: 28em; }
    .tab8 { padding-left: 32em; }
    .tab9 { padding-left: 36em; }
    .tab10 { padding-left: 40em; }
    .tab11 { padding-left: 44em; }
    .tab12 { padding-left: 48em; }
    .tab13 { padding-left: 52em; }
    .tab14 { padding-left: 56em; }
    .tab15 { padding-left: 60em; }
    .tab16 { padding-left: 64em; }

/*dots*/

	.dot 
	{
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;	
/*		float:right;*/
		height: 13px;
		margin-top:4px;
		width: 13px;
	}

	.dot-yellow
	{
		background-color: #f0ad4e;
	}
	.dot-green
	{
		background-color: #0a9601;
	}
	.dot-red
	{
		background-color: #d9534f;
	}
	.dot-blue
	{
		background-color: #1955fc;
	}
	.dot-purple
	{
		background-color: #8e19fc;
	}
	.dot-grey
	{
		background-color: grey;
	}
	.dot-yellow-green-gradient
	{
		/*background-color: #89cf08;*/
		  /*width: 50vw;
  height: 50vw;
*/  	background: linear-gradient( -90deg, #0a9601, #0a9601 49%, white 49%, white 51%, #f0ad4e 51% ); 
  		border-radius: 50%;
	}
	.dot-right
	{
		float:right;		
	}
/*carousel*/
	.lg-carousel
	{
		background-color: white;
		color:black;
		margin-top: 5%;
	}

	.lg-carousel-inner
	{
		padding-bottom:3em;
	}

	.sm-carousel
	{
		color: #337ab7;
		clear:left;
		display: inline-block;
		font-size: 1.2em;
		padding:10px;
	}

	.sm-carousel-inner
	{
		padding-bottom: 3em;
	}

	.sm-carousel-img
	{
		display: block;
		margin:0 auto;
	}

	.sm-carousel-txt
	{
		margin-top: 1em;
	}

	.carousel-indicators > li
	{
		border: 1px solid black;
		background-color: #337ab7;
	}

	.item
	{
		width: 100%;
	}
	.carousel-control.left, .carousel-control.right
	{
		background: white;
	}

/*fonts*/
	/*using for page_title*/
	@font-face
	{
	    font-family: V-de-vacia-deFharo;
	    src: url(../fonts/V-de-vacia-deFharo.ttf);
	}
	/*using for legends*/
	@font-face
	{
	    font-family: icicle_country_2;
	    src: url(../fonts/icicle-country-2/icicle_country_2.ttf);
	}

    .FormHeaderCustom
    {
        font-family:icicle_country_2;
        font-size: 25px;
        margin-bottom: 20px;
        text-align:center;
    }

    .TopName
    {
		color: #337ab7;
		font-family: V-de-vacia-deFharo;
		font-size: 35px;
        
    }

/*header*/
	.page_title
	{
	    /*font-family: V-de-vacia-deFharo;*/
	    font-size: 35px;
	    color: #337ab7;
	}
	/*.page_title_print
	{
		font-size: 20px;
	    	color: #337ab7;
	}*/
/*nav*/

	div#report-nav
	{
		padding:0px;
	}
	
	/*side nav*/
	li.vertical-nav-buttons
	{
		margin-left:15px;
		margin-right:15px;
		padding-left:15px;
		padding-right:15px;
	}

	li.vertical-nav-buttons > a
	{
		margin-left: 15px;
		padding:10px;
		width:100%;
		white-space:normal !important;
		
	}

	li.vertical-nav-buttons > button
	{
		margin-left: 15px;
		padding:5px;
		white-space:normal !important;
		
	}

	.vertical-nav-buttons
	{
		margin-bottom: 0.5em;
	}
/*formated tables*/

	/*add td borders to tables to all tables and then remove from notebook_table tables*/
	table.dataTable:not(.notebook_table) > tbody > tr > td
	{
		/*background-color: #eee;*/
		border: 1px solid #ccc;
		padding: 4px;
	}

	/*hovering coloring*/
	table > tbody > tr.hover_background_row:hover
	{
		background-color: #ddd;
	}	
	tr.hover_success_on:hover, td.hover_success_on:hover
	{
		background-color: #0a9601;
		cursor:pointer;
	}
	table > tbody > tr.hover_info_on:hover
	{
		background-color: #46b8da;
		cursor:pointer;
	}
	table > tbody > tr.hover_warning_on:hover
	{
		background-color: #eea236;
		cursor:pointer;
	}
	table > tbody > tr.hover_danger_on:hover
	{
		background-color: #d43f3a;
		cursor:pointer;
	}

	.hover:hover
	{
		cursor:pointer;
	}


	.dataTables_filter
	{
		padding-right:5px;
	}

	table.report_table
	{
		border: 1px solid black;
   		border-collapse: collapse;
		text-align: center;
   		width:100%;
	}

	table.report_table th
	{
          text-align: center;
	}

	.report_table th, .report_table tr, .report_table td
	{
		border: 1px solid black;	
		padding: 1px 5px;
	}

	table.formated_table-left
	{
		border-collapse: collapse;
		/*text-align: center;*/
	}
	.formated_table-left
	{
		background-color: #eee;
		border-top: 1px solid #fff;
		width: 100%;
	}

	.formated_table-left th
	{
		color: white;
          text-align: center;
          background-color: #337AB7;
	}

	.formated_table-left th, .formated_table-left tr, .formated_table-left td
	{
		border: 1px solid #ccc;	
		padding: 5px 5px;
	}


	table.formated_table
	{
		border-collapse: collapse;
		text-align: center;
	}
	.formated_table:not(.notebook_table)
	{
		background-color: #eee;
		border-top: 1px solid #fff;
		width: 100%;
	}

	.formated_table th:not(.notebook_table)
	{
		color: white;
		text-align: center;
		background-color: #337AB7;
	}

	.formated_table th, .formated_table tr, .formated_table td
	{
		border: 1px solid #ccc;	
		padding: 5px 5px;
	}

	table.notebook_table
	{
		border-collapse: collapse;
		text-align: center;
	}
	.notebook_table
	{
		background-color: #ebf0f4;
		border-bottom: 1px solid #1eb0dd;
		width: 100%;
	}

	.notebook_table th
	{
          height:120px;
          vertical-align:bottom;
	}

	.notebook_table th, .notebook_table tr,  td.notebook_table, table.notebook_table > tbody > tr > td
	{
		border-bottom: 1px solid #1eb0dd;	
		padding: 5px 5px;
		text-align: center;
        background-color: #ebf0f4;
	}

	.pink_right_border, table.notebook_table > tbody > tr > td.pink_right_border
	{
		border-right: 2px solid #dd1f71;
	}
	
	.white_table th
	{
		color:black;
		background-color: white;
	}

	.white_table tr
	{
		background-color: white;
	}

	tr.background_row_status_color_passed 
	{
		color:white;
		background-color: #0a9601;	
	}
	tr.background_row_status_color_flagged
	{
		color:white;
		background-color: #ac2925;	
	}
	tr.background_row_status_color_na
	{
		color:black;
		background-color: grey;	
	}
/*General formating*/
	.glyphicon-edit, .fa-edit
	{
		cursor: pointer;
	}
	fieldset 
	{
		border: 1px solid black;
		margin: 0 0 1.5em 0;
		padding: 0 1.4em 3em 1.4em;
	}

	.pull-right
	{
		float: right;
	    text-align: right;
	}

	[title]:hover
	{
		cursor: pointer;
	}

	.radio-inline
	{
		margin-right:5px;
		padding:5px;
		border:1px dotted #337AB7;
	}

	a.disabled
	{
		pointer-events: none;
		
	}

	legend
	{
		color:white;
		background-color: #337ab7;
		border-radius: 10px;
		border: solid 1px #DDD !important;
		/*font-family: icicle_country_2;*/
		font-size:24px;
		font-weight: bold;
		padding: 0 10px 0px 10px;
		width: auto !important;
	}

	legend.legend-gr
	{
		background-color: #5cb85c;
		font-size:23px;
	}

	.alert
	{
		font-size:18px;
	}

	.alert.alert-civic
	{
		background: #8539b2;
		color:white;
	}
	.alert-na-qc
	{
		background-color: grey;
		color:black;
	}
	.alert-passed-qc, .green-background
	{
		background-color: #0a9601;
		color:white;
	}
	.alert-flagged-qc a, .red-background
	{
		color:#6eb3f0;
		font-weight: bold;
	}

	.alert-flagged-qc, .red-background
	{
		color:white;
		background-color: #c41a11;
		-webkit-animation: alert-flagged-qc-animation 2s infinite;  /* Safari 4+ */
		-moz-animation: alert-flagged-qc-animation 2s infinite;  /* Fx 5+ */
		-o-animation: alert-flagged-qc-animation 2s infinite;  /* Opera 12+ */
		animation: alert-flagged-qc-animation 2s infinite;  /* IE 10+, Fx 29+ */
	}
	.dark-grey-background
	{
		background-color:#7c7d80;
	}
	@-webkit-keyframes alert-flagged-qc-animation 
	{
		0%, 49% 
		{
			border: 3px solid red;
		}
		50%, 100% 
		{
			border: 3px solid orange;
		}
	}
	a.text-a
	{
		color:#004887;
		text-decoration: underline;
	}

	a.text-a:hover
	{
		cursor:pointer;
	}
	.c-wh
	{
		color:white;
	}

	.main-section
	{
		background:#eee;
		padding: 15px 15px 10px 15px;

	}

	video
	{
		display: block;
		margin:0 auto;
	}

	.center-it
	{
		display: block;
		margin:0 auto;
	}


	.required-field
	{
		color: red;
		font-size:22px;
		font-weight: bold;
	}

	.mulitple-field
	{
		color: #7006f8;
		font-size:22px;
		font-weight: bold;
	}

/*horizontal line*/
	hr.thick-blue-line
	{
		border: 10px solid #337ab7;
  		border-radius: 5px;
	}

	hr.thick-red-line
	{
		border: 10px solid #d9534f;
  		border-radius: 5px;
	}

	hr.plain-section-mark
	{
		border-top: 4px double #8c8b8b;
		text-align: center;
	}

	hr.section-mark
	{
	border-top: 4px double #8c8b8b;
	text-align: center;
	}

	hr.section-mark:after
	{
		content: '§';
		display: inline-block;
		position: relative;
		top: -15px;
		padding: 0 10px;
		background: #f0f0f0;
		color: #8c8b8b;
		font-size: 18px;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		transform: rotate(60deg);
	}



	/*change row color*/
	table > tbody > tr.selected_danger
	{
		background-color: #d43f3a;
	}


	table > tbody > tr.not-discussed
	{
		background-color: #bce8f1;
		cursor:pointer;

	}

	table > tbody > tr.needs-documentation
	{
		background-color: #ebab34;
		cursor:pointer;

	}

/*more button and less button for text*/

	.show-complete, .show-teaser, .text-hover
	{
		cursor: pointer;
		color: #337ab7;
	}

	.show-complete:hover, .show-teaser:hover, .text-hover:hover
	{
		color:#004887;
		font-weight: bold;
	}

/*buttons*/
	.disabled-link
	{
		pointer-events:none !important;
	}

	.info-btn
	{
		background:white;
		border:none;
		color:#337ab7;
		font-size:20px;
		margin-left:10px;
	}

	.info-btn-black
	{
		background:black;
		border:none;
		cursor:pointer;
		font-size:20px;
		margin-left:10px;		
	}

	.btn-circle
	{
		border-radius:50%;

		height: 25px;
		width: 25px;
	}

	/*file upload*/
	.custom-file-upload 
	{
		background-color: #337ab7;
		border-color: #2e6da4;
		border-radius: 4px;
		color:white;
		cursor: pointer;
		display: inline-block;
		padding: 6px 12px;	
	}

	.btn-yellow-green-gradient
	{
		background: linear-gradient( -90deg, #0a9601, #0a9601 49%, white 49%, white 51%, #f0ad4e 51% ); 
	}
	
	.btn.btn-yellow-green-gradient-hover:hover, 
	.btn.btn-yellow-green-gradient-hover:focus
	{
	  	background: linear-gradient( -90deg, #0a9601, #0a9601 49%, white 49%, white 51%, #f0ad4e 51% );
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn-yellow
	{
		background: #f0ad4e;
	} 
	.btn-primary
	{
		background-color: #337AB7;
	}

	.btn-warning
	{
		color:black;
	}
	.btn.btn-primary-hover:hover, .btn.btn-primary-hover:focus, .custom-file-upload:hover, .custom-file-upload:focus, .btn-primary-active
	{
	  	background: #004887;
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn.btn-danger-hover:hover, .btn.btn-danger-hover:focus, .btn-danger-active
	{
	  	background: #ad423f;
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn.btn-success-hover:hover, .btn.btn-success-hover:focus, .btn-success-active
	{
	  	background: #2f862f;
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn.btn-warning-hover:hover, .btn.btn-warning-hover:focus,.btn-warning-active
	{
	  	background: #ef9517;
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn-success
	{
		background: #0a9601;
	}

	.rm-btn-border
	{
		border-color: #337ab7;
	}

	.bttm-Margin
	{
		margin-bottom:2%;
	}

	.thumbnail-landscape-images
	{
		border-radius:8px;
		border:1px solid black;
		box-shadow: 0 10px 6px -6px #777;
		display: block;
		margin: auto;
		width:200px;
	}

	.thumbnail-landscape-images-hover:hover, .thumbnail-landscape-images-hover:focus
	{
		background: #004887;
		box-shadow: 0px 0px 5px #000000;
		cursor:pointer;
		-webkit-transition: all 200ms ease-in;
		-webkit-transform: scale(3.08) translate(50px,0);
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(3.08) translate(50px,0);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(3.08) translate(50px,0);;
		transition: all 200ms ease-in;
		transition: all 200ms ease-in;
		transform: scale(3.08) translate(-20px,20px);
		z-index: 2;
	}

	.zoom-img
	{
		width:100%;
	}

	/*.zoom-img:hover, .zoom-img:focus
	{
		background: #004887;
		box-shadow: 0px 0px 5px #000000;
		cursor:pointer;
		-webkit-transition: all 200ms ease-in;
		-webkit-transform: scale(1.50) translate(50px,0);
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.50) translate(50px,0);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.50) translate(50px,0);;
		transition: all 200ms ease-in;
		transition: all 200ms ease-in;
		transform: scale(1.50) translate(-20px,20px);
		z-index: 2;
	}*/

/*images*/
	.landscape-images
	{
		border-radius:8px;
		border:1px solid black;
		box-shadow: 0 10px 6px -6px #777;
		display: block;
		margin: auto;
	}

/*heading formatings*/
	h1.white-bkg-H1
	{
		color: #337ab7;
		clear:left;
		background: white;
		box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
		border-radius: 3px;
		display: inline-block;
		padding:10px;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;
	}

/*Banners*/
	.Grey-Banner
	{
		background:#eee;
		border-color: #999999;
		border-width: 1px;
	}

	.Blue-Banner
	{
		background: #337ab7;
		color:white;
		margin-top: 3px;
	}

/*raised card*/
	.raised-card
	{
		clear:left;
		background: white;
		box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
		border-radius: 3px;
		display: inline-block;
		font-size: 1.2em;
		padding:10px;
		margin: 0px 20px 20px 20px;
		width:95%;
	}

	.raised-card > li
	{
		margin-left:20px;
	}

	.raised-card-header
	{
		color: #337ab7;
		text-align: center;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;
		font-weight: bold;
	}

	.raised-card-subheader
	{
		font-weight: bold;
		text-align: center;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;

	}

	.raised-card-description
	{
		margin: 15px 10px 10px 10px;
	}

/*report sections*/

	.report-center-bold
	{
		font-weight: bold;
		text-align: center;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;
	}

	.report-section-bold
	{
		font-weight: bold;
		font-size:16px;
	}

/*footer*/
	footer
	{
		background: #337ab7;
		bottom:0;
		color:white;
		position:fixed;
		width:100%;
	}

/*###################################*/
	/*loader*/

	/*outside div*/
	.loader 
	{
		background: radial-gradient(#999999, #111111);
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99999;
	}

	/*Rainbow HiC curved text*/
	.loader-logo
	{
		display: block;
		margin: auto;
		width: 40%;

	}
	.char1 { transform: rotate(-50deg); }
	.char2 { transform: rotate(-40deg); }
	.char3 { transform: rotate(-30deg); }
	.char4 { transform: rotate(-20deg); }
	.char5 { transform: rotate(-10deg); }
	.char6 { transform: rotate(0deg); }
	.char7 { transform: rotate(10deg); }
	.char8 { transform: rotate(20deg); }
	.char9 { transform: rotate(30deg); }
	.char10 { transform: rotate(40deg); }
	.char11 { transform: rotate(50deg); }

	/*loading text with flashing dots*/
	.loadingText
	{
		display: inline-block;
		font-size: 25px;
		color: white;

		height:200px;
		left:50%;
		margin: auto;
		position: absolute;
		top: 75%;
		margin-right: -50%;
		/*width:20px;*/
		transform: translate(-50%, -50%);
		transform-origin:bottom center;

	}
	@keyframes blink 
	{
			0% 
		{
			opacity: .2;
		}
			20% 
		{
			opacity: 1;
		}
			100% 
		{
			opacity: .2;
		}
	}
	p.loading
	{
		display: inline-block;
	}
	.loading span 
	{
		animation-name: blink;

		animation-duration: 1.4s;
		animation-iteration-count: infinite;
		animation-fill-mode: both;
	}

	.loading span:nth-child(2) 
	{
		animation-delay: .2s;
	}

	.loading span:nth-child(3) 
	{

		animation-delay: .4s;
	}


	/*rotating rainbow*/
	.loader-inner 
	{
		bottom: 0;
		height: 40px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
	}
	.loader-line-wrap 
	{
		animation: 
		spin 8000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		box-sizing: border-box;
		height: 70px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		width: 150px;
	}
	.loader-line 
	{
		border: 4px solid transparent; /* the 'strokes' of the arc */
		border-radius: 100%; /* for making the elements 'round' */
		box-sizing: border-box;
		height: 200px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 200px;
	}
	.loader-line-wrap:nth-child(1) { animation-delay: -100ms; }
	.loader-line-wrap:nth-child(2) { animation-delay: -300ms; }
	.loader-line-wrap:nth-child(3) { animation-delay: -400ms; }
	.loader-line-wrap:nth-child(4) { animation-delay: -500ms; }
	.loader-line-wrap:nth-child(5) { animation-delay: -600ms; }
	.loader-line-wrap:nth-child(6) { animation-delay: -700ms; }
	.loader-line-wrap:nth-child(7) { animation-delay: -800ms; }


	/*top*/
	.loader-line-wrap:nth-child(1) .loader-line 
	{
		border-color: #00457d;
		height: 118px;
		width: 118px;
		top: 7px;
	}
	/*blue*/
	.loader-line-wrap:nth-child(2) .loader-line 
	{
		border-color: #005395;
		height: 104px;
		width: 104px;
		top: 14px;
	}

	/*blue*/
	.loader-line-wrap:nth-child(3) .loader-line 
	{
		border-color: #0069be;
		height: 90px;
		width: 90px;
		top: 21px;
	}

	/*blue*/
	.loader-line-wrap:nth-child(4) .loader-line 
	{ 
		border-color: white;
		height: 76px;
		width: 76px;
		top: 28px;
	}

	/**/
	.loader-line-wrap:nth-child(5) .loader-line 
	{
		border-color: #FCD900;
		height: 62px;
		width: 62px;
		top: 35px;
	}

	/**/
	.loader-line-wrap:nth-child(6) .loader-line 
	{
		border-color: #fee500;
		height: 48px;
		width: 48px;
		top: 42px;
	}


	/*violet*/
	.loader-line-wrap:nth-child(7) .loader-line 
	{
		border-color: #fdf003;
		height: 34px;
		width: 34px;
		top: 49px;
	}


	@keyframes spin 
	{
		0%, 15% 
		{
			transform: rotate(0);
		}
			100% 
		{
			transform: rotate(360deg);
		}
	}
/*hover card*/
.hover-card-list
{
	font-size: 15px;
	text-align:left;	
}

.hover-card-list li
{
	margin-bottom:5px;
}
/*Sortable list*/

.sortable-list
{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}

.sortable-list li
{
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.4em; 
}

.sortable-list li span.ui-icon-arrowthick-2-n-s
{
	position: absolute; 
	margin-left: -1.3em;
}
/*Message board*/
.msg-list 
{
	width: 100%;
}
.messenger-container 
{
	padding: 8px 15px 8px 13px;
	margin: 0 0 25px 35px;
	float: left;
	max-width: 82%;
	background: #f2f2f2;
	border-radius: 10px;
	min-width: 20%;
	position: relative; box-sizing: border-box;
	box-shadow: 7px 10px 6px -5px #BBC0C7;
}
.messenger-container p 
{
	color: #3D3D3D;
	font-size: 12px;
	margin-bottom: 6px;
	line-height: 18px;
	word-wrap: break-word; margin: 0;
}
.sender .messenger-container 
{
	float: right;
	margin-right: 35px;
	width: auto;
	background: #D5DBFF;
	margin-left: 0px;
	padding: 8px 15px 8px 13px;
}
.clear 
{
	clear:both;
	width: 100%;
	padding: 0px !important;
	margin: 0px;
	height:0px;
}
.messenger-container::before {
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 

	border-right:15px solid #f2f2f2; 
	content: "";
	position: absolute;
	top: 9px;
	left: -15px;
}
.sender .messenger-container::before 
{
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 15px solid #D5DBFF;
	content: "";
	position: absolute;
	top: 9px;
	left: 99%;border-right: none;
}

/*print*/
@page 
{ 
	/*size: auto;  */
/*	margin-top: 5mm; 
	margin-bottom:5mm;
	margin-right: 5mm;
	margin-left: 5mm;*/
}

@media print 
{
	.page-break-after 
	{
		page-break-after: always;
	}
}


@media print 
{
	/*Do not print these classes*/
	.hidden-print, legend, .dataTables_filter, .dataTables_length, 
	.dataTables_info, .dataTables_paginate,.sorting::after,.btn
	{
		display: none !important;
	}

	fieldset 
	{
		border: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
    }


}

/*tour*/
.popover
{
	max-width: 1028px;
}

.popover-body
{
	font-size: 18px;
}

